:root{
    --main-color: #000980;
    --main-color-white: white;
    --main-color-black: #1d1d1d;
    --main-color-gray: gray;
    --main-color-orange: orange;
    --main-color-danger: #ff0000;
    --main-color-success: #2ba968;
    --main-color-footer: #212529;
}