@import url("color.css");
@import url("z-index.css");
@import url("components/keyframes.css");
@import url("framework/utiles.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("styles.css");
@import url("components/header.css");
@import url("components/nav.css");
@import url("components/slider.css");
@import url("components/promo.css");
@import url("components/title.css");
@import url("components/product.css");
@import url("components/big-sale.css");
@import url("components/category.css");
@import url("components/pub-banner.css");
@import url("components/news.css");
@import url("components/partenaires.css");
@import url("components/special-product.css");
@import url("components/footer.css");
@import url("components/mobile.css");
@import url("components/cart.css");
@import url("components/sign.css");
@import url("components/page-not-found.css");