footer{
    background-color: var(--main-color-footer);
    color: var(--main-color-white);
}
footer .footer-list h2 {
    font-size:1.3rem;
    margin: 20px 0
}
footer .footer-list{
    width: 300px;
}
footer .footer-item {
    margin: 10px 0;

}
footer .footer-item h4{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0;
}
footer .footer-item p{
    margin: 5px 0;
}
footer .footer-list h2{
    text-transform: uppercase;
}

/***************** FOOTER LIST ****************/
footer ul li{
    font-size: 1.1rem;
    padding: 5px 0;
}
footer .footer-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
footer .footer-tags .tags{
    border: 1px solid var(--main-color-white);
    padding: 10px;
    font-size: 1.1rem;
}
footer .footer-subscribe p{
    font-size: 1.1rem;
}
footer .footer-input {
    display: flex;
}
footer .footer-input input{
    flex: 1;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #37393b;
    color: rgb(228, 227, 227);
    padding-left: 10px;
    font-size: 1.2rem;
}
footer .footer-subscribe button.btn{
    background-color: var(--main-color);
    color: var(--main-color-white);
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    height: 45px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 35px;
}
footer .footer-bottom{
    border-top: 0.1px solid var(--main-color-gray);
}
footer .footer-bottom-left{
    font-size: 1.2rem;
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .footer-content,footer .footer-bottom{
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    /* footer .footer-bottom{} */
}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 427px) {
  
}