@keyframes slideInFromLeftToRight {
    from{
        margin-left: -100%;
    }
   
    to{
        margin-left: 0%;
    }
}
@keyframes slideOutFromRightToLeft {
    from{
        margin-left: 0%;
    }
    to{
        margin-left: -100%;
    }   
}
@keyframes slideInFromRightToLeft {
    from{
        margin-right: -100%;
    }
   
    to{
        margin-right: 0%;
    }
}
@keyframes slideOutFromLeftToRight {
    from{
        margin-right: 0%;
    }
    to{
        margin-right: -100%;
    }   
}