
.mobile-content{
    background-color: var(--main-color-white);
    width: 85%;
    max-width: 400px;
    height: 100vh;
    z-index: var(--z-index-nav-mobile);
}
.mobile-left .mobile-content{
    top: 0;
    left: 0;
    margin-left: -100%;
}
.mobile-right .mobile-content{
    top: 0;
    right: 0;
    margin-right: -100%;
}
.mobile.mobile-left .mobile-content{
    animation: 1s linear slideInFromLeftToRight forwards;
}

.mobile.mobile-left.close .mobile-content{
    animation: 1s linear slideOutFromRightToLeft forwards;
}
.mobile.mobile-right .mobile-content{
    animation: 1s linear slideInFromRightToLeft forwards;
}

.mobile.mobile-right.close .mobile-content{
    animation: 1s linear slideOutFromLeftToRight forwards;
}


.mobile-content .mobile-title h2{
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--main-color);
}
.mobile-content .mobile-close{
    background-color: var(--main-color-gray);
    border-radius: 50px;
    padding: 5px;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-content .mobile-close img{
    width: 20px;
    height: 20px;
}
.mobile-content .mobile-nav-item{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    border-top: 2px solid var(--main-color-white);
    border-bottom: 2px solid var(--main-color-white);
}
.mobile-content .mobile-nav-item.active,
.mobile-content .mobile-nav-item:hover{
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
}
   