 .featured-products .products-list{
    flex-wrap: wrap;
}
.product-item{
    width: 300px;
    margin-bottom: 30px;
    text-align: center;
    background-color: var(--main-color-white);
}
.product-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.product-item .product-image{
    height: 400px;
    
}
.product-item .product-image img{
    height: 100%;
}
.product-category{
    text-transform: uppercase;
    color: var(--main-color-gray);
}
.product-details{
    height: 180px;
    display: flex;
    flex-direction: column;
}
.product-name h3{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.product-item .product-price h4{
    margin-bottom: 0;
}
.product-item .product-price del{
    color: var(--main-color-gray);
}
i.selected{
    color: var(--main-color-orange)
}
.product-item .product-options button{
    border: none;
    background-color: var(--main-color-gray);
    color: white;
    height: 35px;
    font-weight: bold;
}
.product-item .product-options button:hover{
    background-color: var(--main-color);
    color: white;
}
span.badge{
    left: 10px;
    display: block;
    width: 40px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color-white);
}
span.badge:nth-child(2){
    top: 10px;

}
span.badge:nth-child(3){
    top: 40px;

}
span.badge.sold{
    background-color: var(--main-color-danger)
}
span.badge.hot{
    background-color: var(--main-color-success)
}


 @media screen and (max-width: 1200px) {
    .new-arrivals-products .products-list{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .products-list{
        justify-content: center;
    }

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 427px) {
    .product-item{
        width: 90%;
    }
} 