#sign .container form h1{
    text-align:center;
    text-transform: uppercase;
}
#sign .container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign .container form{
    border: 1px solid #ccc;
    padding: 10px;
    width: 85%;
    max-width: 600px;
}
#sign .container form input{
    height: 35px;
    flex:1;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    outline: none;
}
#sign .container form p{
    text-align: center;
    font-size: 1.1rem;
}
#sign .container form p a{
    color: var(--main-color);
}

#sign .container form .form-inline{
    margin-bottom: 15px;
    display: flex;
}
#sign .container form .form-submit{
    display: flex;
}
#sign .container form .form-submit button{
    flex: 1;
    background-color: var(--main-color);
    color: var(--main-color-white);
    font-size: 1.4rem;
    font-weight: bold;
}
.form-error{
    color: var(--main-color-danger);
}