.slider-image{
    background-image: url("../../../assets/images/slider/slide-2.svg");
    height: 500px;
    background-position-x: 70%;
}

.slider-content{
    top: 10%;
    left: 10%;
    min-width: 25%;
    height: 200px;
    padding: 20px 0;
    white-space: nowrap;
}
.slider-content h4{
    font-size: 1.18rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    opacity: 0.7;
    margin: 0;
}
.slider-content h2{
    font-size: 2.31rem;
    letter-spacing: 0.005em;
    font-family: 'Segoe Script','Savoye LET',    Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;

}
.slider-content h3{
    font-size: 5.9em;
    margin-bottom: 10px;
}

.slider-content .slider-actions > span{
    font-weight: bold;
}
.slider-content .slider-actions .price{
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--main-color-white);
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    transform: rotate(-10deg);
}
.slider-content .slider-actions .shop-now.btn{
    background-color: var(--main-color-black);
    color: white;
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}

.slider-icon{
    top: 40%;
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-white);
    border-radius: 50px;
    cursor: pointer;
}
.slider-icon i{
    font-size: 1.5rem;
}
.slider-icon:hover{
    background-color: var(--main-color-black);
    
}
.slider-icon.prev{
    left: 20px;
}
.slider-icon.next{
    right: 20px;
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .slider-content{
        /* position: static; */
        display: none;
    }

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 427px) {
  
}